h3 Schedule Client Appointments
  small Drag and Drop events and tasks

// START row
.calendar-app(ng-controller="CalendarController")
  .row
    .col-lg-9.col-md-8
      // START panel
      .panel.panel-default
        .panel-body
          // START calendar
          #calendar
          // END calendar
      // END panel
    .col-lg-3.col-md-4
      .row
        .col-md-12.col-sm-6.col-xs-12.co-xs-push-12
          datepicker.ui-datepicker.well.well-sm(ng-model='dt', min-date='minDate', show-weeks='false' ng-click='datePicked(dt)')
  // END row


  script(type="text/ng-template", id="dialogWithNestedConfirmDialogId")
    .ngdialog-message
      // START panel
      .panel.panel-flat
        .panel-heading
          .panel-title Add a new appointment
        .panel-body
          form.form-horizontal(ng-controller='ARScheduleCtrl', role='form', name='appointmentForm', ng-submit='submitForm()', validate-form='', novalidate='').mb-lg
            .form-group
              label.col-sm-4.control-label(for='name') Client name
              .col-sm-8
                .typeahead-ctrl(ng-controller='ARTypeaheadCtrl')
                  .input-group.m-b
                    span.input-group-addon
                      span.fa.fa-user(ng-show='!loadingClients')
                      em.fa.fa-refresh(ng-show='loadingClients')
                    input.form-control#client-name(type='text',
                      ng-model='client.name',
                      placeholder='Select or create a client',
                      typeahead='client for client in getUsers($viewValue)',
                      typeahead-loading='loadingClients',
                      required,
                      typeahead-on-select='onSelect($item, $model, $label)'
                    )

                  //input#name.form-control(ng-model='client.name', name='name', type='text', required, placeholder='Client name')
            .form-group
              label.col-sm-4.control-label(for='phone-home') Home phone
              .col-sm-8
                .input-group.m-b
                  span.input-group-addon
                    em.fa.fa-phone
                  input.form-control#phone-home(ng-model='client.phone', name='phone-home', type='text', masked="", data-inputmask="'mask': '(99) 9999-9999'", placeholder="Phone number")
            .form-group
              label.col-sm-4.control-label(for='mobile') Mobile
              .col-sm-8
                .input-group.m-b
                  span.input-group-addon
                    em.icon-screen-smartphone
                  input.form-control#mobile(ng-model='client.mobile', name='mobile', type='text', masked="", data-inputmask="'mask': '(999) 999-9999'", placeholder="Mobile number")
            .form-group
              label.col-sm-4.control-label(for='email') Email
              .col-sm-8
                .input-group.m-b
                  span.input-group-addon
                    em.icon-envelope
                  input#email.form-control(ng-model='client.email', name='email', type='email', data-parsley-type='email', placeholder='Email')
            .form-group
              label.col-sm-4.control-label(for='reminder-preferences', ng-init='appointment = { phone: true, text: true, email: true }') Reminder preferences
              .col-sm-8
                .input-group.m-b
                  ul.list-inline
                    li
                      input#pref-phone(ng-model='appointment.phone', name='phone', type='checkbox', value='phone')
                      label(for='pref-phone') Call
                    li
                      input#pref-text(ng-model='appointment.text', name='text', type='checkbox', value='text')
                      label(for='pref-text') Text
                    li
                      input#pref-email(ng-model='appointment.email', name='email', type='checkbox', value='email')
                      label(for='pref-email') Email
            .form-group
              label.col-sm-4.control-label(for='script') Script to use
              .col-sm-8
                select.chosen-select.input-md#script(chosen='', ng-model='scripts', ng-options='s for s in scripts')
            .form-group
              label.col-sm-4.control-label(for='reminder-timing') Reminder timing
              .col-sm-8
                select.form-control.m-b(name='reminder-timing')
                  option Option 1
                  option Option 2
                  option Option 3
                  option Option 4
            .form-group
              label.col-sm-4.control-label(for='reminder-timing') Date/Time
              .col-sm-8
                p.form-control-static {{ appointment.dateTime }}
            .form-group
              label.col-sm-4.control-label(for='status') Status
              .col-sm-8
                input.form-control#status(ng-model='appointment.status', name='status', type='text', disabled='')
            .form-group
              label.col-sm-4.control-label(for='recurring') Recurring
              .col-sm-8
                p.form-control-static {{ appointment.recurring }}
            //.alert.alert-info
            //  | Hint: Change the time/duration by dragging the appointment after saving.

            .alert.alert-danger.text-center(ng-show='errors')
              .ul(ng-repeat="error in errors track by $index")
                .li {{error}}

            .clearfix
              .pull-right
                button.btn.btn-default.mr(type='button', ng-click="closeThisDialog('Cancel')") Cancel
                button.btn.btn-primary(type='submit') Save

        // END panel
